{% extends 'base.html.twig' %}

{% block title %}Réservation -
{% endblock %}

{% block javascripts %}
	<script src="assets/reservationForm.js"></script>
{% endblock %}

{% block body %}
	<h1>Vous souhaitez réservé notre salle{{room.name}}?</h1>
	{{form(formReservation)}}{% endblock %}
